# naming conventions
# all variables are in CAPITALS
# all storage folders has a combination of Starting Capitals and then a series of small letters
#
# why? because all branch names in Dolibarr are with small letters,
# so seeing a folder with small letters you can know it is a git repo
# and that the branch should be the name of the folder

YOUR_GITHUB_USERNAME="badfoobarexample"
YOUR_GITHUB_FORK="git@github.com:${YOUR_GITHUB_USERNAME}/dolibarr.git"

IMAGE_REGISTRY="docker.io"

LOCAL_REPO_BASE="${HOME}/DoliDev"
LOCAL_DOLIBARR_REPO="${LOCAL_REPO_BASE}/dolibarr"
LOCAL_WORKTREE_BASE="${LOCAL_REPO_BASE}/GitWorkTree"

#ACTIVE_VERSIONS="develop 21.0 20.0 19.0 18.0"
ACTIVE_VERSIONS="develop 21.0"

POD_BASENAME="dolipod"
MARIADB_BASENAME="mariadb"
DOLIBARR_BASENAME="dolibarr"
PHPMYADMIN_BASENAME="phpmyadmin"

DB_RESTORE_FROM_PATH="${LOCAL_REPO_BASE}/DolibarrBackups"
DB_RESTORE_FROM_FILE="mysqldump_dolidb_20.0.4_2503282048.sql.gz"

SECRET_ROOT_BASE="ROOT_PASSWORD"
SECRET_DOLI_BASE="DOLI_PASSWORD"

DOLI_ADMIN_LOGIN="doliadm"
PHP_INI_DATE_TIMEZONE="UTC"